.lightpick {
    width: 200px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    position: absolute;
    z-index: 99999;
    background-color: #FFF;
    line-height: normal;
}
.lightpick.has-parent-el {
    position: static;
}

.lightpick,
.lightpick *,
.lightpick::after,
.lightpick::before {
    box-sizing: border-box;
}

.lightpick.is-hidden {
    display: none;
}

.lightpick--2-columns {
    width: 400px;
}

.lightpick--3-columns {
    width: 600px;
}

.lightpick--4-columns {
    width: 800px;
}

.lightpick--5-columns {
    width: 1000px;
}

.lightpick__months {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.lightpick__month {
    padding: 5px;
    width: 200px;
    border: 1px solid #EEE;
}

.lightpick__month-title {
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #4285F4;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
}

.lightpick__toolbar {
    text-align: right;
}

.lightpick__close-action {
    font-size: 18px;
    margin-left: 5px;
    padding: 0 5px;
    line-height: 24px;
}

.lightpick__previous-action,
.lightpick__next-action {
    border-radius: 50%;
    border: none;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
    outline: none;
    padding: 0 5px;
    width: 24px;
}

.lightpick__previous-action:hover,
.lightpick__next-action:hover {
    background-color: rgba(0,0,0,.07);
    cursor: pointer;
}

.lightpick__days-of-the-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 5px 0;
    font-size: 10px;
    font-weight: 500;
    color: #FF9A19;
}

.lightpick__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 10px;
}

.lightpick__day {
    padding: 7px 0;
    color: #212121;
    font-size: 11px;
    border-radius: 50%;
}

.lightpick__day:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}

.lightpick__day.is-today {
    font-weight: 500;
    color: #4Eb5E6;
}

.lightpick__day.is-previous-month,
.lightpick__day.is-next-month {
    color: #757575;
}

.lightpick__day.is-disabled {
    color: #DDD;
    text-decoration: line-through;
    background-color: #FFF;
}

.lightpick__day.is-in-range {
    background-color: rgba(92,196,239,.1);
    border-radius: 0;
}

.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range.is-flipped {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.lightpick__day.is-start-date.is-end-date {
    border-radius: 50%;
}

.lightpick__day.is-start-date,
.lightpick__day.is-end-date,
.lightpick__day.is-start-date:hover,
.lightpick__day.is-end-date:hover {
    color: #FFF;
    font-weight: 500;
    background-color: #4285F4;
    text-decoration: none;
}

.lightpick__day.is-start-date.is-disabled:hover,
.lightpick__day.is-end-date.is-disabled:hover {
    background-color: #DDD;
}

.lightpick__tooltip {
    background-color: #CDDC39;
    font-size: 11px;
    margin-top: -5px;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    pointer-events: none;
    white-space: nowrap
}

.lightpick__tooltip::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #CDDC39;
    bottom: -4px;
    content: '';
    left: 50%;
    margin-left: -4px;
    position: absolute;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    .lightpick__days-of-the-week {
        display: flex;
        justify-content: flex-start;
    }

    .lightpick__day-of-the-week {
        width: 31.3px;
    }

    .lightpick .days {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .lightpick .day {
        width: 31.3px;
    }

}
